@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.container {
    max-width: 1420px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/info';
@import 'blocks/button';
@import 'blocks/steps';
@import 'blocks/resp';
@import 'blocks/scroll';
