.button{
    text-transform: uppercase;
    width: 340px;
    height: 70px;
    left: 1210px;
    top: 220px;
    background: #FEE040;
    border-radius: 2px;
    border: none;
    &::before{
        content: url(../icons/download.svg);
        margin: 5px;
    }
}