.resp{
    &__descr{
        margin-top: 100px;
        h2{
            font-family: 'Gilroy';
            font-weight: 800;
            font-size: 32px;
            line-height: 42px;
            letter-spacing: -0.5px;
            color: #151515;
        }
        h3{
            font-family: 'Proxima Nova';
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: -0.5px;
            color: #707070;

opacity: 0.7;
        }
    }
    &__img{
        width: 382px;
        margin-top: 57px;
    }
    &__list{
        margin-top: 136px;
        h2{
            font-family: 'Proxima Nova';
            font-weight: 700;
            font-size: 24px;
            line-height: 34px;
            letter-spacing: -0.5px;
            color: #151515;
        }
        ul{
            margin-top: 24px;
            list-style: none;
            .item{
                margin-bottom: 15px;
                font-family: 'Proxima Nova';
                font-weight: 600;
                font-size: 18px;
                line-height: 30px;
                letter-spacing: -0.5px;
                color: #333333;
                &::before{
                    content: url(../icons/icon.png);
                    margin: auto 0;
                }
            }
        }
    }
}